<!DOCTYPE html>
<html lang="en">

<head>
    <title>InstaStalker Web - @{{ accinfo.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!-- partial:index.partial.html -->

    <body>
        <div class="body-container">

            <div class="dashboard">
                <div class="grid-container">

                    <!-- 1 - Profile Information | Overview -->
                    <div class="profile grid-area">
                        <div class="img">
                            <img src="{{ accinfo.profile_picture_web_server_url }}">
                            <h3>{{ accinfo.full_name }}</h3>
                            <h5 class="online">@{{ accinfo.username }}</h5>
                            <div class="button">
                                <a href="{{ 'https://www.instagram.com/' + accinfo.username }}" target="_blank"
                                    rel="noopener noreferrer">
                                    <i class="material-icons">open_in_new</i>
                                </a>
                            </div>
                        </div>
                        <div class="profile-data">
                            <div class="data-details">
                                <h5>Followers</h5>
                                <h4>{{ accinfo.followers }}</h4>
                            </div>
                            <div class="data-details">
                                <h5>Followees</h5>
                                <h4>{{ accinfo.followees }}</h4>
                            </div>
                            <div class="data-details">
                                <h5>Media</h5>
                                <h4>{{ accinfo.mediacount }}</h4>
                            </div>
                        </div>
                        <div class="profile-more">
                            <h5>
                                <a href="#additiona-information-of-profile">
                                    Show more
                                </a>
                            </h5>
                        </div>
                    </div>

                    <!-- 2 - Main Actions -->
                    <div class="last-view grid-area">
                        <h2>Pinned Actions! Save/Download;</h2>
                        <div class="profiles-display">
                            <!-- <div class="one-profile online"> -->
                            <div class="one-profile">
                                <a href="{{ url_for('open_target_folder') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/folder.png') }}">
                                    </div>
                                </a>
                                <h4>Open Folder</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_pic') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/profile.png') }}">
                                    </div>
                                </a>
                                <h4>Profile Picture</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_info_txt') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/info.png') }}">
                                    </div>
                                </a>
                                <h4>Profile Info</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_all_posts') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/save.png') }}">
                                    </div>
                                </a>
                                <h4>All Posts + Info</h4>
                            </div>
                        </div>
                    </div>

                    <!-- 3 - All Actions List -->
                    <div class="last-like grid-area">
                        <h2>All Actions! Save/Download;</h2>
                        <div class="profiles-display">
                            <!-- <div class="one-profile online"> -->
                            <div class="one-profile">
                                <a href="{{ url_for('open_target_folder') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/folder.png') }}">
                                    </div>
                                </a>
                                <h4>Open Folder</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_pic') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/profile.png') }}">
                                    </div>
                                </a>
                                <h4>Profile Picture</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_info_txt') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/info.png') }}">
                                    </div>
                                </a>
                                <h4>Profile Info</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_posts_uploaded') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/upload.png') }}">
                                    </div>
                                </a>
                                <h4>Uploaded Posts</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_posts_tagged') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/tag.png') }}">
                                    </div>
                                </a>
                                <h4>Tagged Posts</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_posts_igtv') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/igtv.png') }}">
                                    </div>
                                </a>
                                <h4>IGTV Posts</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_followers') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/follow.png') }}">
                                    </div>
                                </a>
                                <h4>Followers</h4>
                            </div>
                            <div class="one-profile">
                                <a href="{{ url_for('save_profile_followees') }}">
                                    <div class="img">
                                        <img src="{{ url_for('static', filename='images/follow.png') }}">
                                    </div>
                                </a>
                                <h4>Followees</h4>
                            </div>
                        </div>

                    </div>

                    <!-- 4 - All Profile Info List | START -->
                    <div class="edit-profile grid-area" id="additiona-information-of-profile">

                        <!-- 4-1 Username at top -->
                        <div class="header">
                            <h1>@{{ accinfo.username }}</h1>
                        </div>

                        <!-- 4-2 Profile Picture -->
                        <div class="profile-picture">
                            <a href="{{ url_for('save_profile_pic') }}">
                                <img src="{{ accinfo.profile_picture_web_server_url }}">
                            </a>
                        </div>

                        <!-- 4-3 Large Topic -->
                        <h1>{{ accinfo.full_name }}</h1>

                        <!-- 4-4 Main Information (is verified, private, bussiness & account-id ) -->
                        <div class="edit-infos">
                            <h3>Main Information</h3>
                            <div class="profile-data" style="overflow-x: scroll; min-width: 390px;">
                                <div class="data-details">
                                    <h5>is Verified?</h5>
                                    <h4>{{ accinfo.is_verified }}</h4>
                                </div>
                                <div class="data-details">
                                    <h5>is Private?</h5>
                                    <h4>{{ accinfo.is_private }}</h4>
                                </div>
                                <div class="data-details">
                                    <h5>is Bussiness?</h5>
                                    <h4>{{ accinfo.is_business_account }}</h4>
                                </div>
                                <div class="data-details">
                                    <h5>Profile ID</h5>
                                    <h4>{{ accinfo.profile_id }}</h4>
                                </div>
                            </div>
                        </div>

                        <!-- 4-5 All other information list -->
                        <!-- Has a custom order (not in the order returned by the backend) -->
                        <div class="edit-interest">
                            <h3>Additional Information</h3>
                            <ul>
                                {% if accinfo.is_business_account == True %}
                                <li>
                                    <b>Business Category Name: </b> {{ accinfo.business_category_name }}
                                </li>
                                {% endif %}

                                <li>
                                    <b>Followers: </b> {{ accinfo.followers }}
                                </li>
                                <li>
                                    <b>Followees: </b> {{ accinfo.followees }}
                                </li>

                                <!-- Show website if not None -->
                                {% if (accinfo.external_url) %}
                                <li>
                                    <b>Website: </b>
                                    <a href="{{ accinfo.external_url }}" target="_blank" rel="noopener noreferrer">
                                        {{ accinfo.external_url }}
                                    </a>
                                </li>
                                {% endif %}

                                <li>
                                    <b>Media Count: </b> {{ accinfo.mediacount }}
                                </li>
                                <li>
                                    <b>IGTV Count: </b> {{ accinfo.igtv_count }}
                                </li>

                                <li>
                                    <b>Followed by viewer: </b> {{ accinfo.followed_by_viewer }}
                                </li>
                                <li>
                                    <b>Follows viewer: </b> {{ accinfo.follows_viewer }}
                                </li>
                                <li>
                                    <b>Blocked by viewer: </b> {{ accinfo.blocked_by_viewer }}
                                </li>
                                <li>
                                    <b>Has blocked viewer: </b> {{ accinfo.has_blocked_viewer }}
                                </li>

                                <li>
                                    <b>Has highlight reels: </b> {{ accinfo.has_highlight_reels }}
                                </li>
                                <li>
                                    <b>Has viewable story: </b> {{ accinfo.has_viewable_story }}
                                </li>
                                <li>
                                    <b>Has public story: </b> {{ accinfo.has_public_story }}
                                </li>

                                <li>
                                    <b>Has requested viewer: </b> {{ accinfo.has_requested_viewer }}
                                </li>
                                <li>
                                    <b>Requested by viewer: </b> {{ accinfo.requested_by_viewer }}
                                </li>

                                <li>
                                    <b>Profile pic url: </b> <a href="{{ accinfo.profile_pic_url }}" target="_blank"
                                        rel="noopener noreferrer">Click here to open</a>
                                </li>

                            </ul>
                        </div>

                        <!-- 4-6 Account Biography -->
                        <div class="edit-interest">
                            <h3>Bio</h3>
                            <p>
                                {{ accinfo.biography }}
                            </p>
                        </div>

                    </div>
                    <!-- 4 - All Profile Info List | END -->

                    <!-- 5 - Usage History -->
                    <div class="matchs grid-area">
                        <div class="header">
                            <h1>
                                Usage History
                                <br>
                                Alphebatical Order
                            </h1>
                        </div>
                        <div class="display-matchs">

                            {% for history_item in final_all_history_list%}
                            <div class="one-match">
                                <div class="one-match-content">
                                    <a href="{{ url_for('open_history_folder', history=history_item.username) }}">
                                        <img src="{{ history_item.image_url_for_web_server }}">
                                    </a>
                                    <div class="match-info">
                                        <h4>{{ history_item.full_name }}</h4>
                                        <h5 class="online">{{ history_item.username }}</h5>
                                        <h5 class="online">{{ history_item.followers }} Followers</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- Dummy Item -->
                            <!-- <div class="one-match">
                                <div class="one-match-content">
                                    <img
                                        src="https://images.unsplash.com/photo-1492633423870-43d1cd2775eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <div class="match-info">
                                        <h4>Alicia, 23</h4>
                                        <h5 class="online">Online</h5>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>

    <!-- partial -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
</body>

</html>